requests
groq
openai
pyttsx3
gtts
playsound==1.2.2
pyaudio
SpeechRecognition
beautifulsoup4
lxml
html5lib
pygame
wikipedia
wolframalpha
python-dotenv
pexels-api
assemblyai
tqdm
pywhatkit
pyautogui
keyboard
opencv-python
Pillow
rembg
streamlit
flask
Flask-Cors
fastapi
uvicorn
aiohttp
aiofiles
httpx
nltk
transformers
torch
scikit-learn
numpy
pandas
matplotlib
seaborn
