openai
requests
Pillow
opencv-python
assemblyai
removebg
together
stability-sdk
python-dotenv
numpy
pyttsx3
SpeechRecognition
pyaudio
gtts
deepgram-sdk
matplotlib
flask
streamlit
moviepy
scikit-image
supabase
pyjwt
tqdm
aiohttp
aiofiles
beautifulsoup4
lxml
selenium
webdriver-manager
pyautogui
pygetwindow
pyperclip
keyboard
fuzzywuzzy
python-Levenshtein
wolframalpha
playsound
psutil
